In [2]:
import pandas as pd
import geopandas as gpd

In [4]:
df = pd.read_parquet("../../data/data.parquet")

In [3]:
df2 = pd.read_parquet("../../data/data_filtered.parquet")

In [6]:
df.shape

(5000, 3)

In [4]:
df2

      target                                           geometry
0          1  b'\x01\x01\x00\x00\x00\xbf\n\xf0\xdd\xe6OF\xc0...
1          1  b'\x01\x01\x00\x00\x00A\xbc\xae_\xb0\xbdF\xc0f...
2          1  b'\x01\x01\x00\x00\x00A\xbc\xae_\xb0\xbdF\xc0f...
3          1  b'\x01\x01\x00\x00\x00\xbf+\x82\xff\xadVI\xc0\...
4          1  b'\x01\x01\x00\x00\x00\x0c!\xe7\xfd\x7f\x0cI\x...
...      ...                                                ...
4181       0  b'\x01\x01\x00\x00\x00!\xc2m\xe7I\xdeH\xc0A\xb...
4295       0  b'\x01\x01\x00\x00\x00\x9e\xfe\xd8;\xa3\xbaH\x...
4527       0  b'\x01\x01\x00\x00\x00\x06\xdc\xc0\x8fzpH\xc0\...
6441       0  b'\x01\x01\x00\x00\x00.\x86\x06\x9agQE\xc0\xdc...
6767       0  b'\x01\x01\x00\x00\x00\xc7\x1e\x8b\x0e?\xe7D\x...

[2856 rows x 2 columns]

In [3]:
df.shape

(7177, 37)

In [ ]:
filtered_df

In [7]:
df['target'].value_counts()

target
1    2847
0       4
Name: count, dtype: int64

In [2]:
data = (
    pd.read_parquet("C:/Users/kenji/dev/web-scraping-images-vinacea/web-scraping-images-vinacea/assets/INPUT/gbif.parquet")[['Latitude','Longitude']].rename(
        columns={'Latitude':'lat','Longitude':'lon'}
    )
)
data['target'] = 1

In [12]:
from sdm_bio.sdm import SDM

sdm_model = SDM(data)

sdm_model.generate_random_points(n_points = 1000)
sdm_model.generate_uniform_points_within_polygon(spacing=0.25)

c:\Users\kenji\dev\sdm_bio_vinaceous-breasted-amazon\web-scraping-venv\Lib\site-packages\pyproj\crs\crs.py:141: FutureWarning: '+init=<authority>:<code>' syntax is deprecated. '<authority>:<code>' is the preferred initialization method. When making the change, be mindful of axis order changes: https://pyproj4.github.io/pyproj/stable/gotchas.html#axis-order-changes-in-proj-6
  in_crs_string = _prepare_from_proj_string(in_crs_string)

            lon        lat  target
0    -51.266667 -31.136923       0
1    -51.016667 -31.136923       0
2    -51.266667 -30.886923       0
3    -51.016667 -30.886923       0
4    -50.766667 -30.886923       0
...         ...        ...     ...
1979 -42.016667 -13.136923       0
1980 -41.766667 -13.136923       0
1981 -41.516667 -13.136923       0
1982 -41.766667 -12.886923       0
1983 -41.516667 -12.886923       0

[1984 rows x 3 columns]

In [13]:
sdm_model.presence_absence_df

            lat        lon  target
0    -22.406586 -44.624233       1
1    -22.689444 -45.481945       1
2    -22.689444 -45.481945       1
3    -29.465906 -50.677185       1
4    -28.142239 -50.097656       1
...         ...        ...     ...
4826 -13.136923 -42.016667       0
4827 -13.136923 -41.766667       0
4828 -13.136923 -41.516667       0
4829 -12.886923 -41.766667       0
4830 -12.886923 -41.516667       0

[4831 rows x 3 columns]

In [14]:
sdm_model._backup

           lat        lon  target
0   -23.507184 -53.503353       0
1   -26.761710 -53.494333       0
2   -25.079781 -53.485617       0
3   -27.200924 -53.462771       0
4   -25.938509 -53.456147       0
..         ...        ...     ...
995 -17.837266 -40.505115       0
996 -18.900242 -40.319973       0
997 -18.282773 -40.246875       0
998 -18.624884 -40.214867       0
999 -19.218158 -40.164892       0

[1000 rows x 3 columns]